<!DOCTYPE html>
<html lang="en">
  <head>
    <title>families</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
  <body>

    <div id="nav" class="navbar navbar-inverse">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li {% if menu == "home" %}class="active"{% endif %}><a class="brand" href="/"><img id="logo-small" src="/static/img/logo.png"></a></li>
	      <li {% if menu == "ancestors" %}class="active"{% endif %}><a href="/ancestors">Ancestors</a></li>
	      <li {% if menu == "profile" %}class="active"{% endif %}><a href="/profile">Profile</a></li>
	      {% if menu == "ancestors" or menu == "profile" %}
	      <li><a id="menu-reload" href="#">Reload</a></li>
	      {% endif %}
	    </ul>
	    <div class="pull-right">
	      {% if login %}
	      <span class="nav-welcome">Welcome, {{ user.displayName() }}</span>
	      <a id="logout-button" class="btn btn-primary" href="/auth/logout">Logout</a><br>
	      {% else %}
	      <a id="login-button" class="btn btn-primary" href="/auth/login">Login</a>
	      {% endif %}
	    </div>
	  </div><!--/.nav-collapse -->
	</div>
      </div>
    </div>

    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="container">
      <div id="footer" class="row-fluid">
	<div class="span12">
	  <div id="legal">
	    A sample FamilyTree app by Daniel Zappala, <a href="http://osl.byu.edu">BYU Open Source Lab</a>
	  </div>
	</div>
      </div>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
    {% block login %}
    {% endblock %}
    <script type="text/javascript">
      function ajaxErrorHandler(xhr,text,response) { 
      if (xhr.status == 403) { 
      window.location.href = "/auth/login?callback="+window.location.href;
      } else { 
      window.location.href = "/auth/error";
      }
      };
    </script>
    <script>
      $(document).ready(function(){
        $('#menu-reload').bind('click',function(){
          $(document).trigger('app.sync');
        });
      });
    </script>
  </body>
</html>
